@model projectA.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

    <div id="wrapper">
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index")"><i style="color:red" class="fa fa-leaf" aria-hidden="true"></i>CHASHI</a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li class="active"><a class="waves-effect waves-dark" href="index.html">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="waves-effect waves-dark">About Us</a>
                            </li>
                            <li>@Html.ActionLink("Loign", "About", "Home")</li>
                            <li><a class="waves-effect waves-dark" href="portfolio.html">Gallery</a></li>

                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()




                                    <li class="dropdown">
                                        <a style="text-decoration:none;color:white;padding-left:5px;" href="#" data-toggle="dropdown" class="dropdown-toggle waves-effect waves-dark"><i style="color:white;" class="fas fa-user-circle fa-lg"> </i> @User.Identity.Name.Split('@').First() <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="waves-effect waves-dark" href="@Url.Action("index","admin")">dashbord</a></li>

                                            <li>
                                                @Html.ActionLink("change password", "changepassword", "manage")
                                            </li>
                                            <li><a class="aa" style="text-decoration:none;" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                        </ul>
                                    </li>


                                }
                            }
                            else
                            {


                                <li><a class="waves-effect waves-dark" href="@Url.Action("login","account")"><i style="color:white;" class="fas fa-user-circle fa-lg"> </i> Login</a></li>

                            }
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-content">
            <div class="form-v5-content">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-detail", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h2 style="color:black">reset password</h2>
                    <div class="form-row">
                        @Html.HiddenFor(m => m.Code)
                        @Html.LabelFor(m => m.Email, new { @class = "full-name" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-text", @style = "height:43px;" })
                        <i style="padding-top:12px;" class="fas fa-envelope"></i>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-row">
                        @Html.LabelFor(m => m.Password, new { @class = "full-name" })

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-text", @style = "height:43px; border-radius:8px;background-color:white" })
                        <i style="padding-top:12px;" class="fas fa-lock"></i>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-row">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "full-name" })

                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-text", @style = "height:43px; border-radius:8px;background-color:white" })
                        <i style="padding-top:12px;" class="fas fa-lock"></i>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-row-last">

                        <input type="submit" value="Log in" class="register" style="height:45px;width:145px;" />
                    </div>
                }
            </div>
        </div>
    </div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
