@model IEnumerable<projectA.Models.fish_set_viewmodel>

@{
    ViewBag.Title = "Sell Fish";
    Layout = "~/Views/Shared/Admin/adminlayout.cshtml";

}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover table-striped table-responsive" id="sell">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sellvm.pond_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellvm.fish_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellvm.client_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellvm.sell_location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellvm.fish_quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellvm.fish_weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellvm.fish_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellvm.date)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pondvm.pond_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fishvm.fish_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sellvm.client_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sellvm.sell_location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sellvm.fish_quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sellvm.fish_weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sellvm.fish_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sellvm.date)
                </td>
                <td class="text-center">
                    <a class="btn btn-icon-toggle btn-primary btn-xs " data-toggle="tooltip" data-placement="top" data-original-title="Edit" href="@Url.Action("Edit", "sells", new { id = @item.sellvm.sell_id })"><i class="glyphicon  glyphicon-edit "></i></a>|
                    <a class="btn btn-icon-toggle btn-primary btn-xs " style="color:red" data-toggle="tooltip" data-placement="top" data-original-title="Delete" href="@Url.Action("Delete", "sells", new { id =@item.sellvm.sell_id })"><i class="glyphicon  glyphicon-trash"></i></a>|
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>$(document).ready(function () { $("#sell").DataTable() })</script>
}