@model IEnumerable<projectA.Models.fish_set_viewmodel>

@{
    ViewBag.Title = "Fish Food";
    Layout = "~/Views/Shared/Admin/adminlayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover table-striped table-responsive" id="fishfood">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.fish_foodvm.food_name)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.fish_foodvm.pond_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fish_foodvm.food_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fish_foodvm.food_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fish_foodvm.food_quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fish_foodvm.food_company_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fish_foodvm.date)
            </th>

            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pondvm.pond_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.foodvm.food_name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fish_foodvm.food_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fish_foodvm.food_quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fish_foodvm.food_company_name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fish_foodvm.date)
                </td>

                <td class="text-center">
                    <a class="btn btn-icon-toggle btn-primary btn-xs " data-toggle="tooltip" data-placement="top" data-original-title="Edit" href="@Url.Action("Edit", "fish_food", new { id = @item.fish_foodvm.fish_food_id })"><i class="glyphicon  glyphicon-edit "></i></a>|
                    @*<a class="btn btn-icon-toggle btn-primary btn-xs " data-toggle="tooltip" data-placement="top" data-original-title="View" href="@Url.Action("Details", "additional_cost", new { id = @item.addivm.addi_cost_id })"><i class="glyphicon  glyphicon-eye-open"></i></a>|*@
                    <a class="btn btn-icon-toggle btn-primary btn-xs " style="color:red" data-toggle="tooltip" data-placement="top" data-original-title="Delete" href="@Url.Action("Delete", "fish_food", new { id =@item.fish_foodvm.fish_food_id })"><i class="glyphicon  glyphicon-trash"></i></a>|
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script>$(document).ready(function () { $("#fishfood").DataTable() })</script>
}
