@model projectA.additional_cost

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>additional_cost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pond_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pond_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.additional_cost1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.additional_cost1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.additional_cost_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.additional_cost_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.addi_cost_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
